In [1]:
#set up modules

import pandas as pd
from pathlib import Path

#load the files
school_path = Path("Resources/schools_complete.csv")
student_path = Path("Resources/students_complete.csv")

In [2]:
# Read the CSV into a Pandas DataFrame
school_df= pd.read_csv(school_path)
school_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
student_df = pd.read_csv(student_path)
student_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
# Combine the data into a single dataset. 

school_data_complete = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
#DISTRICT SUMMARY

In [6]:
# Calculate the total number of unique schools
school_count = len(pd.unique(school_data_complete['school_name']))
school_count

15

In [7]:
# Calculate the total number of students
student_count = len((school_data_complete['student_name']))
student_count

39170

In [8]:
# Calculate the total budget
total_budget = sum((school_df['budget']))
total_budget

24649428

In [9]:
# Calculate the average (mean) math score
mean_math_score = (sum((school_data_complete['math_score']))/student_count)
mean_math_score

78.98537145774827

In [10]:
# Calculate the average (mean) reading score
mean_reading_score = (sum((school_data_complete['reading_score']))/student_count)
mean_reading_score

81.87784018381414

In [11]:
#Calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [12]:
#Calculate the percentage of students who passed reading (reading scores greather than or equal to 70)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [13]:
#Calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [14]:
#Create a high-level snapshot of the district's key metrics in a DataFrame

district_summary = pd.DataFrame({"Total Schools":school_count, "Total Students":student_count, "Total Budget":total_budget, 
                       "Average Math Score":mean_math_score, "Average Reading Score":mean_reading_score, 
                       "% Passing Math":passing_math_reading_count, "% Passing Reading":passing_reading_percentage, 
                       "% Overall Passing":overall_passing_rate}, index=[0])
   
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,25528,85.805463,65.172326

In [15]:
#Group school names
school_name_df = school_data_complete.groupby('school_name')
school_name_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,14,Charter,1635,1043130
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,14,Charter,1635,1043130
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,14,Charter,1635,1043130
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,14,Charter,1635,1043130

In [16]:
#school types
school_type_df = (school_name_df["type"]).first()
school_type_df

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [17]:
#total students per school

student_per_school_df = school_name_df.size()
student_per_school_df

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
dtype: int64

In [18]:
#Per school budget 
school_budget = school_name_df['budget'].first()
school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [19]:
#per student (per capita, per school
per_capita_budget = school_budget / student_per_school_df
per_capita_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [19]:
#df with school names, math scores and reading scores
df_scores = school_name_df[['school_name', 'reading_score', 'math_score']]
df_scores.head()

              school_name  reading_score  math_score
0       Huang High School             66          79
1       Huang High School             94          61
2       Huang High School             90          60
3       Huang High School             67          58
4       Huang High School             97          84
...                   ...            ...         ...
37535  Thomas High School             76          76
37536  Thomas High School             84          82
37537  Thomas High School             80          90
37538  Thomas High School             71          69
37539  Thomas High School             86          76

[75 rows x 3 columns]

In [25]:
sum_scores = school_name_df.loc[school_name_df['school_name'] == Huang High School].reading_score.sum()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (473940368.py, line 1)