In [1]:
#set up modules

import pandas as pd
from pathlib import Path

#load the files
school_path = Path("Resources/schools_complete.csv")
student_path = Path("Resources/students_complete.csv")

In [2]:
# Read the CSV into a Pandas DataFrame
school_df= pd.read_csv(school_path)
school_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
student_df = pd.read_csv(student_path)
student_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
# Combine the data into a single dataset. 

school_data_complete = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [ ]:
#DISTRICT SUMMARY

In [5]:
# Calculate the total number of unique schools
school_count = len(pd.unique(school_data_complete['school_name']))
school_count

15

In [6]:
# Calculate the total number of students
student_count = len((school_data_complete['student_name']))
student_count

39170

In [7]:
# Calculate the total budget
total_budget = sum((school_df['budget']))
total_budget

24649428

In [8]:
# Calculate the average (mean) math score
mean_math_score = (sum((school_data_complete['math_score']))/student_count)
mean_math_score

78.98537145774827

In [9]:
# Calculate the average (mean) reading score
mean_reading_score = (sum((school_data_complete['reading_score']))/student_count)
mean_reading_score

81.87784018381414

In [10]:
#Calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [11]:
#Calculate the percentage of students who passed reading (reading scores greather than or equal to 70)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [12]:
#Calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [13]:
#Create a high-level snapshot of the district's key metrics in a DataFrame

district_summary = pd.DataFrame({"Total Schools":school_count, "Total Students":student_count, "Total Budget":total_budget, 
                       "Average Math Score":mean_math_score, "Average Reading Score":mean_reading_score, 
                       "% Passing Math":passing_math_reading_count, "% Passing Reading":passing_reading_percentage, 
                       "% Overall Passing":overall_passing_rate}, index=[0])
   
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,25528,85.805463,65.172326

In [19]:
school_name_df = school_data_complete.pd.DataFrame((["school_name"].unique()))
school_name_df

AttributeError: 'DataFrame' object has no attribute 'pd'

In [15]:
school_type_df = (school_data_complete["type"]).unique()
school_type_df

array(['District', 'Charter'], dtype=object)

In [ ]:
#per student budget
per_student_budget = [""]