In [1]:
#set up modules

import pandas as pd
from pathlib import Path

#load the paths
school_path = Path("Resources/schools_complete.csv")
student_path = Path("Resources/students_complete.csv")

In [2]:
# Read the CSV into a Pandas DataFrame
school_df= pd.read_csv(school_path)
school_df.head

<bound method NDFrame.head of     School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130>

In [3]:
student_df = pd.read_csv(student_path)
student_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
# Combine the data into a single dataset. 

school_data_complete = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

Include the following:

Total number of unique schools

Total students

Total budget

Average math score

Average reading score

% passing math (the percentage of students who passed math)

% passing reading (the percentage of students who passed reading)

% overall passing (the percentage of students who passed math AND reading)

In [5]:
#Total number of unique schools
school_count = len(pd.unique(school_data_complete['school_name']))
school_count

15

In [6]:
# Total number of students
student_count = len((school_data_complete['student_name']))
student_count

39170

In [7]:
# Total budget
total_budget = sum((school_df['budget']))
total_budget

#didn't assume that all the school's budgets were unique.

24649428

In [8]:
# Average math score
average_math_score = school_data_complete.math_score.mean()
average_math_score

78.98537145774827

In [9]:
#Average reading score
average_reading_score = school_data_complete.reading_score.mean()
average_reading_score

81.87784018381414

In [10]:
#Percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [11]:
#Percentage of students who passed reading (reading scores greather than or equal to 70)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [12]:
#Percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [13]:
#Create a high-level snapshot of the district's key metrics in a DataFrame

district_summary_df = pd.DataFrame({"Total Schools":school_count, 
                                 "Total Students":student_count, 
                                 "Total Budget":total_budget, 
                                 "Average Math Score":average_math_score, 
                                 "Average Reading Score":average_reading_score, 
                                 "% Passing Math":passing_math_reading_count, 
                                 "% Passing Reading":passing_reading_percentage, 
                                 "% Overall Passing":overall_passing_rate}, index=[0])
   
# Formatting
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,25528,85.805463,65.172326

## School Summary

#Include the following:

School name

School type

Total students

Total school budget

Per student budget

Average math score

Average reading score

% passing math (the percentage of students who passed math)

% passing reading (the percentage of students who passed reading)

% overall passing (the percentage of students who passed math AND reading)

In [14]:
#Group school names
school_sort = school_data_complete.groupby('school_name')
school_sort.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,14,Charter,1635,1043130
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,14,Charter,1635,1043130
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,14,Charter,1635,1043130
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,14,Charter,1635,1043130

In [15]:
#List schools in dictrict
school_name = list(school_data_complete.school_name.unique())
school_name.sort()
school_name

['Bailey High School',
 'Cabrera High School',
 'Figueroa High School',
 'Ford High School',
 'Griffin High School',
 'Hernandez High School',
 'Holden High School',
 'Huang High School',
 'Johnson High School',
 'Pena High School',
 'Rodriguez High School',
 'Shelton High School',
 'Thomas High School',
 'Wilson High School',
 'Wright High School']

In [16]:
#School types
school_types = school_df.sort_values(by="school_name").type
school_types

7     District
6      Charter
1     District
13    District
4      Charter
3     District
8      Charter
0     District
12    District
9      Charter
11    District
2      Charter
14     Charter
5      Charter
10     Charter
Name: type, dtype: object

In [17]:
#total students per school
school_total_students = list(school_sort.student_name.count())
school_total_students

[4976,
 1858,
 2949,
 2739,
 1468,
 4635,
 427,
 2917,
 4761,
 962,
 3999,
 1761,
 1635,
 2283,
 1800]

In [18]:
#budget per school
school_budget = list(school_sort.budget.mean())
school_budget

[3124928.0,
 1081356.0,
 1884411.0,
 1763916.0,
 917500.0,
 3022020.0,
 248087.0,
 1910635.0,
 3094650.0,
 585858.0,
 2547363.0,
 1056600.0,
 1043130.0,
 1319574.0,
 1049400.0]

In [19]:
#per student budget
budget_per_student = [i/j for i,j in zip(school_budget,school_total_students)]
budget_per_student

[628.0,
 582.0,
 639.0,
 644.0,
 625.0,
 652.0,
 581.0,
 655.0,
 650.0,
 609.0,
 637.0,
 600.0,
 638.0,
 578.0,
 583.0]

In [20]:
#average math score per school
school_mean_math_score = list(school_sort.math_score.mean())
school_mean_math_score

[77.04843247588424,
 83.06189451022605,
 76.71176670057646,
 77.10259218692954,
 83.35149863760218,
 77.28975188781014,
 83.80327868852459,
 76.62941378128214,
 77.07246376811594,
 83.83991683991684,
 76.84271067766942,
 83.3594548551959,
 83.4183486238532,
 83.2742006132282,
 83.68222222222222]

In [21]:
#average reading score per school
school_mean_reading_score = list(school_sort.reading_score.mean())
school_mean_reading_score

[81.03396302250803,
 83.97578040904197,
 81.15801966768396,
 80.74625775830594,
 83.816757493188,
 80.9344120819849,
 83.81498829039812,
 81.18272197463148,
 80.96639361478681,
 84.04469854469855,
 80.74468617154288,
 83.72572402044293,
 83.84892966360856,
 83.98948751642575,
 83.955]

In [22]:
#Number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
school_students_passing_math = (students_passing_math.groupby(["school_name"]).size())
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [23]:
#Percentage of students per school with math scores of 70 or higher
per_students_passing_math = list(school_students_passing_math / school_total_students * 100)
per_students_passing_math

[66.68006430868168,
 94.1334768568353,
 65.98847066802306,
 68.3096020445418,
 93.39237057220708,
 66.7529665587918,
 92.50585480093677,
 65.68392183750429,
 66.0575509346776,
 94.5945945945946,
 66.36659164791197,
 93.8671209540034,
 93.27217125382263,
 93.8677179150241,
 93.33333333333333]

In [24]:
#Number of students per school with math scores of 70 or higher
students_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
school_students_passing_reading = (students_passing_reading.groupby(["school_name"]).size())
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [25]:
#Percentage of students per school with reading scores of 70 or higher
per_students_passing_reading = list(school_students_passing_reading / school_total_students * 100)
per_students_passing_reading

[81.93327974276528,
 97.03982777179763,
 80.73923363852154,
 79.29901423877328,
 97.13896457765668,
 80.86299892125135,
 96.25292740046838,
 81.31642098045938,
 81.2224322621298,
 95.94594594594594,
 80.22005501375344,
 95.85462805224304,
 97.30886850152906,
 96.53964082347788,
 96.61111111111111]

In [26]:
#Number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
school_students_passing_math_and_reading = (students_passing_math_and_reading.groupby(["school_name"]).size())
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [27]:
#Overall passing percentage

overall_passing_rate = list(school_students_passing_math_and_reading / school_total_students * 100)
overall_passing_rate

[54.64228295819936,
 91.33476856835307,
 53.20447609359105,
 54.289886820007304,
 90.59945504087193,
 53.52750809061489,
 89.22716627634661,
 53.51388412752828,
 53.53917244276413,
 90.54054054054053,
 52.988247061765435,
 89.89210675752413,
 90.94801223241589,
 90.58256679807272,
 90.33333333333333]

In [28]:
#Compile the school summary data into dataframe
school_summary_df = pd.DataFrame({"School Name": school_name,
                                  "School Type": school_types,
                                  "Total Students": school_total_students,
                                  "Total School Budget": school_budget,
                                  "Per Student Budget": budget_per_student,
                                  "Average Math Score": school_mean_math_score,
                                  "Average Reading Score": school_mean_reading_score,
                                  "% Passing Math": per_students_passing_math,
                                  "% Passing Reading": per_students_passing_reading,
                                  "% overall passing": overall_passing_rate})

#Formatting
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)
school_summary_df = school_summary_df.reset_index(drop=True)
school_summary_df= school_summary_df.set_index('School Name')
#Display the frame
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% overall passing
School Name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333